*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
    line-height: 1;
}
a{
    color: #AAAAAA;
    text-decoration: none;
    font-size: 0.9em;
}
.fa-fw{
    margin-left: 5px;
}
.header1, .boite2, .boite3, .boite4, .boite5,.imgallery, .boite8, .boite9, footer{
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.boite8, .boite9{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    flex-direction: column;
}
/* header */
header{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
/* premier en tete */
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A2A2A;
    height: 40px;
    position: absolute;
}
.header_icon{
    color: #DE1212;
}
.hder1{
    margin-right: 30px;
}
.cnt{
    color: white;
}
/* deuxiemme en tete */

/* nav */
.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 40px;
}
.navbar-toggler{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: 0.4px solid #614545;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-toggler-icon{
    background: transparent;
    border: 1px solid black;
    height: 1px;
    margin-top: 5px;
    width: 18px;
}
.icon_{
    margin-bottom: 5px;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
}
.container-fluid{
    padding: 0px;
}
nav{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background-color: #E2FDF0;
    padding: 0% 5% 0% 5%;
}
.navbar-brand{
    font-size: 1.29em;
    font-weight: bold;
}
.navbar-brand:hover{
    color: red;
}
.navbar-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav a{
    color: black;
    font-size: 0.8em;
}
.nav-link{
    margin-right: 10px;
    font-weight: bold;
    color: black;
}
.d-flex{
    width: 200px;
    display: flex;
}
.form-control {
    width: 120px;
    height: 40px;
    font-size: 1em;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #000000;
}
  .btn-outline-success {
    color: black;
    background-color: #FED23D;
    align-items: center;
    border: none;
    padding: 5px;
}
/* fin header debut du corps de la page */
/* premiere section */
.boite1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 700px;
    background-image: url(../IMG/tomatoes-1561565_1920.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-right: 155px;
    text-align: center;
}
.fraisG button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.frais{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 30px;
}
.gout{
    font-size: 2.7em;
    margin-bottom: 14px;
}
.terroir{
    letter-spacing: 0.1em;
}
/* deuxiemme section */
.boite2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}
.abouts, .info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.abouts{
    width: 40%;
}
.abouts button{
    width: 200px;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(12, 109, 77);
    color: white;
}
.abouts button:hover{
    background: rgb(221, 44, 44);
}
h3{
    font-size: 1.3em;
    color: #8A955C;
    margin-bottom: 7px;
}
h2{
    font-weight: bold;
    font-size: 1.89em;
}
.info{
    width: 52%;
}
p{
    font-weight: 300;
    font-size: 1em;
    line-height: 168%;
    align-items: center;
    text-align: justify;
    margin-bottom: 20px;
}
.kouak{
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
}
.pdg{
    color: #8A955C;
    font-size: 1em;
}
/* troisieme section */
.boite3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.categorie{
    display: flex;
    align-items: end;
    width: 32%;
    height:300px;
    border-radius: 17px;
    padding: 0px 30px 30px 30px;
}
.categorie:hover{
    border: 2px solid aqua;
}
.categorie b{
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 5px 10px 10px 5px;
    border-radius: 0px 10px 10px 0px;
}
.cerise{
    background-image: url('../IMG/pexels-laura-habegger-11247569.jpg');
    background-size: cover;
    background-position: center;
}
.cobra{
    background-image: url('../IMG/pexels-julia-1327838.jpg');
    background-size: cover;
    background-position: center;
}
.marmande{
    background-image: url('../IMG/Mar-0209.jpg');
    background-size: cover;
    background-position: center;
}
/* quatriemme section */
.boite4{
    display: flex;
    height: 209px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F1F1F1;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.acroche1{
    color: #6A4D5B;
    font-size: 26px;
    letter-spacing: 0.02em;
}
.rigueur{
    color: #D22054;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.2em;
}
/* cinquiemme section  */
.section5{
    padding-top: 50px;
    padding-bottom: 200px;
    background-image: url('../IMG/spaghetti-1932466.jpg');
    background-size: cover;
}
.Nous{
    color: white;
}
.service_blocks{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    background-color: white;
    border-radius: 17px;
    padding: 35px 30px 35px 30px;
}
.service_titre{
    color: #000000;
    font-size: 1.52em;
    font-weight: bolder;
    letter-spacing: 16%;
    margin-bottom: 20px;
}
.icon_services{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}
.next{
    height: 50px;
    width: 50px;
}
/* sixiemme boite */
.boits{
    width: 50%;
}
.boits h2{
    width: 90%;
}
.boitss{
    height: 55px;
    font-size: 1em;
    width: 200px;
    color: #8A955C;
    border: 2px solid #8A955C;
    border-radius: 6px;
    margin-top: 20px;
}
.ul_list{
    margin-left: 30px;
}
.ul_list li{
    margin-bottom: 10px;
    font-size: 1.3em;
}
.boit{
    width: 43%;
    background-size: cover;
    height: 600px;
    border-radius: 17px;
}

/* huitiemme section */
.fond{
    background-color: #E2FDF0;
}
.tittre_produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tiret{
    width: 100px;
    height: 2.3px;
    color: #DE1212;
    background-color: #DE1212;
    margin-bottom: 6px;
}
.produits{
    width: 23%;
    background-color: WHITE;
    border-radius: 7px;
    padding: 20px;
}
.produits h5{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.35em;
}
.img_produits{
    width: 100%;
}
.img_produits img{
    width: 100%;
}
.sect{
    margin-top: 45px;
}
/* neuviemme section */
.boite9{
    margin-bottom: 50px;
}
.blogs{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.blog{
    display: inline-flex;
    flex-direction: column;
    width: 32%;
    text-align: left;
}
.imageblog{
    height: 300px;
    width: 100%;
    background-image: url(../IMG/tomates_manger_nutrition_bienfaits.webp);
    background-size: cover;
    border-radius: 17px;
}
.date{
    margin: 15px 0px 15px 0px;
    font-weight: lighter;
    font-size: 1em;
}
.blog h3{
    font-weight: bolder;
    font-size: 1.95em;
    color: black;
}
.blog p{
    margin-top: 15px;
    font-size: 1.2em;
}
.blog a{
    color: black;
    font-size: 1.3em;
    font-weight: bolder;
}
.jus{
    background-image: url('../IMG/351122-le-cocktail-bloody-mary-opengraph_1200-2.jpeg');
    background-size: cover;
}
.astuces{
    background-image: url('../IMG/Visuel-article-.png');
    background-size: cover;
}
/* onziemme ection */
.boite11{
    background-color: #FEF8F8;
}
.contas{
    width: 31%;
}
.contass{
    width: 61%;
}
.formulaire{
    display: flex;
    flex-direction: column;
}
.formulaire h4{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 13px;
}
.formulaire section{
    display: flex;
    justify-content: space-between;
}
.nom{
    display: flex;
    flex-direction: column;
    width: 49%;
}
.noms{
    height: 50px;
    margin-top: 3px;
    margin-bottom: 6px;
    padding: 20px;
    text-align: center;
    font-size: 1em;
    border: 1px solid #D22054;
}
.email{
    width: 70%;
}
.message{
    height: 150px;
    margin-bottom: 15px;
}
.btne{
    width: 155px;
    height: 60px;
    background-color: red;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    padding: none;
    border: none;
}
/* derniere section */
.dernier{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
}
.boite_logo{
    display: flex;
    width: 18%;
    height: auto;
    background-color: #D9D9D9;
    text-align: center;
    justify-content: center;
}
/* pied de page */
footer{
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #334B36;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.section_footer{
    width: 20%;
}
.footm{
    color: white;
}
.section_footer h2{
    color: #F1F1F1;
    font-size: 1.5em;
}
.section_footer ul, .section_footer p{
    margin-top: 20px;
}
.section_footer ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
.section_footer ul li a, .section_footer p{
    color: #8A955C;
    font-size: 1.2em;
    font-weight: lighter;
}
.numero{
    color: white;
    font-weight: bold;
}
.emailfooter{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* media query pour les petit ecran */
@media screen and (max-width: 600px){
    .footer{
        display: block;
        flex-direction: column;
        width: 100%;
    }
    .fraisG{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.5em;
    }
    .boite1{
        padding-right: 20px;
        height: 300px;
    }
    .header1{
        font-size: 0.3em;
    }
    h2{
        font-size: 1.17em;
    }
    p{
        font-size: 0.8em;
    }
    .boite2{
        display: block;
        flex-direction: column;
    }
    .abouts{
        width: 100%;
    }
    .abouts button{
        width: 150px;
        font-size: 0.68em;
        border-radius: 10px;
    }
    .info{
        width: 100%;
    }
    .pdg{
        font-size: 0.69em;
    }
    .boite3, .blogs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .categorie{
        width: 80%;
        height: 200px;
        margin-bottom: 20px;
    }
        /* boite5 */
    
    .produits{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 10px;
    }
    .icon_services{
        width: 55px;
        height: 55px;
        margin-bottom: 7px;
    }
    .produits b {
        margin-bottom: 7px;
        font-size: 1.2em;
    }
    .next{
        width: 25px;
        height: 25px;
        margin-bottom: 7px;
    }
    .produits p{
        margin-bottom: 7px;
    }
    .img_produits{
        width: 135px;
        height: 135px;
    }

    .blogs h3{
        margin-top: 10px;
        font-size: 0.8em;
    }
    .ul_list span{
        font-size: 0.77em;
    }
    .boit{
        height: auto;
    }
    iframe{
        height: 200px;
    }
    /* footer */
    .section_footer{
        width: 100%;
    }
    .section_footer h2{
        text-align: center;
    }
    /* blogs */
    .blog{
        display: block;
        width: 80%;
        margin-top: 10px;
    }
    .contass{
        margin-top: 10px;
        width: 100%;
    }
    .dernier{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 5%;
        padding-right: 5%;
    }
    .boite_logo{
        width: 100;
        height: 70px;
    }
    .foot{
        font-size: 0.5em;
        text-align: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 1220px){
    .header1{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 0.7em;
    }
    .menu{
        display: block;
    }
    .nav_list{
        padding-right: 10px;
    }
    .hder2 nav ul li a{
        font-size: 0.75em;
    }
    .boite2{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .boite2 .abouts, .boite2 .info {
        width: 100%;
    }
    .blogs{
        display: flex;
        flex-wrap: wrap;
    }
    .blogs .produits{
        width: 49%;
        margin-bottom: 20px;
    }
    iframe{
        margin-top: 30px;
    }
}
